// Place all the styles related to the saunas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//new

//index
.sauna-index {
  min-height: 100vh;
}
.contents-title text-center {
  text-align: center;
}
.index-title {
  padding-top: 20px;
}
//show
.sauna-show {
  min-height: 100vh;
}
.select-genre {
  background-color: deepskyblue;
  color: white;
  text-align: center;
}
.twitter {
  border: 1px solid #eee;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1;
  color: black;
  padding: 6px 12px;
}
.twitter:hover {
  color: black;
  background-color: #c9c9c9;
  text-decoration: none;
  transition-duration: 0.5s;
}
.justify-content-center {
  align-items: center;
  margin: 0 auto;
}
.review-index {
  padding: 10px;
  border-bottom: 1px solid #eee;
}
