// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// show
.user-show {
  min-height: 100vh;
}
.card {
  margin: 30px auto;
  text-align: left;
  max-width: 880px;
}
//edit
.user-edit {
  min-height: 100vh;
}
.icon {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}
