<footer>
	<ul class="footer-menu">
		<li><%= link_to "Sauna&Campとは？", about_path, :class=> "top-page-link" %></li>
		<li><%= link_to "利用規約", terms_path, :class=> "top-page-link" %></li>
		<li><%= link_to "プライバシーポリシー", policy_path, :class=> "top-page-link" %></li>
	</ul>
	<p>© All rights reserved by Sauna&Camp
	</p>
</footer>
